body
{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat";
}

#container
{
	max-width: 600px;
	margin: 20px auto;
}

.square
{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	transition: background 0.6s;
	--webkit-transition: background 0.6s;
	--moz-transition: background 0.6s;
}

.square:hover {
	cursor: pointer;
}

h1
{
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

#stripe
{
	position: relative;
	background-color: white;
	height: 30px;
	text-align:center;
	margin-bottom: 10px;
	color: black;
}

.selected
{
	color: white;
	background-color: steelblue;
}

#colorDisplay
{
	font-size: 200%;
}

#message
{
	display: inline-block;
	width: 20%;
}

button
{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-size: inherit;
	letter-spacing: 1px;
	font-weight:700;
	color: steelblue;
	transition: all 0.3s;
	--webkit-transition: all 0.6s;
	--moz-transition: all 0.6s;
	outline: none;
}

button:hover
{
	color: white;
	background-color: steelblue;
	cursor: pointer;
}
